$dark-green: #10814c;
$dark-green-hoover: #139c5c;
$gold: #ffb733;
$light-yellow: #ffd55c;
$white: #ffffff;
$blue-grey: #50667e;
$dark-blue-grey: #2a445e;
$red: #ff6d3b;
$red-hoover: #ff8d68;
$dark-teal: #06b2b8;
$teal: #21d8de;
$dark-white: #d1d1d1;
